body 
{
 
	background-image:url('/img/img1.jpg');
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}

p 
{
      color: blue;
      font-size: large;
      font-family: helvetica;
}

p1 
{
      color: white;
      font-size: large;
      font-family: helvetica;
}
#cabecera 
{
	background-color:black;	
        height: 7em;
        margin: 0;
        padding: 0;
	color: white;
	height: 100px;


}	
#central
{
        width: 30em;
        text-align: center;
        font-family:Arial;
        color:black;
        font-size: 1em;
        padding: 2em 2em 2em 2em;
        border: 3px solid white;
        float: center;
        margin-top: 4em;
	margin-left: 8em;
}

#warning
{
        background-color: red;
        font-size: 1.5em;
        color: red;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 0.9em;
        padding-bottom: 0.9em;
}

#col
{
       background-color: #CF8080 ;
       text-align: left;
       margin-bottom: 1em;
}
h1 
{
      color: white;
      font-family: helvetica;
}



li 
{
      color: white;
      font-size: large;
      font-family: helvetica;
}



.tabla 
{
	background-color: white;
	border-radius: 15px;
	width: 600px;
	margin-left:8em;
}

.formulario 
{
	width: 500px;
}




#pie 
{
	padding-top: 5em;
	float:left;
}